<a href="https://colab.research.google.com/github/Tejeswini-98/CLASS-NOTE-ML-ALGORITHMNS/blob/main/Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4 Datastructures in Python

1. List
2. Sets
3. Tuples
4. Dict

## 1. List

* 1D
* Heteregnous
* Mutable/Changebale
* Allows duplicate elements
* Indexable and Sliceable

In [ ]:
empty_cart_1 = []

In [ ]:
type(empty_cart_1)

list

In [ ]:
learner_names = ['Aarvi','Abhinav','Akil','Aishwarya','Aparna','Mariya']
learner_names

['Aarvi', 'Abhinav', 'Akil', 'Aishwarya', 'Aparna', 'Mariya']

In [ ]:
type(learner_names)

list

In [ ]:
learner_names = ['Aarvi','Abhinav','Akil','Aishwarya','Aparna','Mariya','Abhinav','Akil','Mariya']
learner_names

['Aarvi',
 'Abhinav',
 'Akil',
 'Aishwarya',
 'Aparna',
 'Mariya',
 'Abhinav',
 'Akil',
 'Mariya']

In [ ]:
learner_names[2]

'Akil'

In [ ]:
learner_names[4:7]

['Aparna', 'Mariya', 'Abhinav']

In [ ]:
learner_names[1] = 'Omkar'
learner_names

['Aarvi',
 'Omkar',
 'Akil',
 'Aishwarya',
 'Aparna',
 'Mariya',
 'Abhinav',
 'Akil',
 'Mariya']

In [ ]:
learner_names.append('Prajakta')

In [ ]:
learner_names

['Aarvi',
 'Omkar',
 'Akil',
 'Aishwarya',
 'Aparna',
 'Mariya',
 'Abhinav',
 'Akil',
 'Mariya',
 'Prajakta']

## 2. Sets

* 1D
* Heteregenous
* Mutable
* Not duplicates
* Not Indexable and Not Sliceable

In [ ]:
empty_cart_2 = set()
empty_cart_2

set()

In [ ]:
learner_names_2 = {'Aarvi','Abhinav','Akil','Aishwarya','Aparna','Mariya','Abhinav','Akil','Mariya'}
learner_names_2

{67, 8.6, 'Aarvi', 'Abhinav', 'Aishwarya', 'Akil', 'Aparna', 'Mariya'}

In [ ]:
learner_names_2[0]

TypeError: 'set' object is not subscriptable

In [ ]:
learner_names_2[:5]

TypeError: 'set' object is not subscriptable

In [ ]:
learner_names_2[0] = 'Karthick'

TypeError: 'set' object does not support item assignment

In [ ]:
type(learner_names_2)

set

In [ ]:
learner_names_2.add('Bala')

In [ ]:
learner_names_2

{'Aarvi', 'Abhinav', 'Aishwarya', 'Akil', 'Aparna', 'Bala', 'Mariya'}

In [ ]:
learner_names_2.clear()

In [ ]:
learner_names_2

set()

### Daily Task - 3

Explore all data structure related methods. Come up with 1 example.

## 3. Tuple

* 1D
* Heteregenous
* Allows duplicate elements
* Not Mutable/Not changeable
* Indexable and Sliceable

In [ ]:
empty_cart_3 = ()

In [ ]:
type(empty_cart_3)

tuple

In [ ]:
learner_names_3 = ('Aarvi','Abhinav','Akil','Aishwarya','Aparna','Mariya','Abhinav','Akil','Mariya')
learner_names_3

('Aarvi',
 'Abhinav',
 'Akil',
 'Aishwarya',
 'Aparna',
 'Mariya',
 'Abhinav',
 'Akil',
 'Mariya',
 1,
 2.3)

In [ ]:
type(learner_names_3)

tuple

In [ ]:
learner_names_4 = 'Aarvi','Abhinav','Akil','Aishwarya','Aparna','Mariya','Abhinav','Akil','Mariya'
learner_names_4

('Aarvi',
 'Abhinav',
 'Akil',
 'Aishwarya',
 'Aparna',
 'Mariya',
 'Abhinav',
 'Akil',
 'Mariya')

In [ ]:
type(learner_names_4)

tuple

In [ ]:
learner_names_4[0]

'Aarvi'

In [ ]:
learner_names_4[:4]

('Aarvi', 'Abhinav', 'Akil', 'Aishwarya')

In [ ]:
learner_names_4[0] = 'Krithika'

TypeError: 'tuple' object does not support item assignment

### 4. Dictionary

We call it as **Key:value** pair.

* 2D
* Heteregenous
* Not Indexable and not Slicaeble
*

In [ ]:
empty_cart_4 = {}

In [ ]:
type(empty_cart_4)

dict

In [ ]:
item_to_buy = {'Milk':2,
               'Oats':1,
               'Apple':'1kg'}
item_to_buy

{'Milk': 2, 'Oats': 1, 'Apple': '1kg'}

In [ ]:
type(item_to_buy)

dict

In [ ]:
item_to_buy.keys()

dict_keys(['Milk', 'Oats', 'Apple'])

In [ ]:
item_to_buy.values()

dict_values([2, 1, '1kg'])

In [ ]:
learner_details = {'fname' :'Lavanya',
                   'lname' :'Karja',
                   'age'   : 27,
                   'weight' : 27
                  }
learner_details

{'fname': 'Lavanya', 'lname': 'Karja', 'age': 27, 'weight': 27}

In [ ]:
learner_details = {'fname' :['Lavanya','Gokul','Mariya'],
                    'lname':['Karja','Raj','Sherly'],
                    'age'  :[27,26,24]
                  }
learner_details

{'fname': ['Lavanya', 'Gokul', 'Mariya'],
 'lname': ['Karja', 'Raj', 'Sherly'],
 'age': [27, 26, 24]}

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(data=learner_details)

     fname   lname  age
0  Lavanya   Karja   27
1    Gokul     Raj   26
2   Mariya  Sherly   24

# THE END!