<a href="https://colab.research.google.com/github/Tejeswini-98/CLASS-NOTE-ML-ALGORITHMNS/blob/main/Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 1 - First Python Programming

## 1[a] Hello World

In [ ]:
print('Welcome to Data Science Session.')

Welcome to Data Science Session.

In [ ]:
print("Anil said, John's session is bit boring.")

Anil said, John's session is bit boring.

In [ ]:
print("""Anil replied, "John's session is bit boring".""")

Anil replied, "John's session is bit boring".

In [ ]:
print(67+67+90)

224

## 1[b] Create  a Variable

In [ ]:
participants = 'Aditya','Akash','Divya','Vennela','Aparna'

In [ ]:
participants

('Aditya', 'Akash', 'Divya', 'Vennela', 'Aparna')

In [ ]:
len(participants)

5

In [ ]:
participants[3]

'Vennela'

In [ ]:
participants[1:4]

('Akash', 'Divya', 'Vennela')

# Chapter 2 - Strings and String Methods

**3 Datatypes in Python:**
1. Int - Integer - only whole numbers
2. Float - with decimal points
3. String - anything which is enclosed within quotes

## 2[a] What is a String?

In [ ]:
abhishek_score = 100

In [ ]:
type(abhishek_score)

int

In [ ]:
sathwick_average_marks = '8.5'

In [ ]:
type(sathwick_average_marks)

str

In [ ]:
sathwick_average_marks = 8.5

In [ ]:
type(sathwick_average_marks)

float

## 2[b] Concatenation - Indexing - Slicing

In [ ]:
fname = 'Dhanaxi'
lname = 'Mehtani'
age = 26

In [ ]:
fname
lname

'Mehtani'

In [ ]:
fname,lname

('Dhanaxi', 'Mehtani')

In [ ]:
print(fname)
print(lname)

Dhanaxi
Mehtani

In [ ]:
print(fname,lname)

Dhanaxi Mehtani

In [ ]:
print('First Name :' + fname + ' Last Name : ' + lname) # String Concatenation

First Name :Dhanaxi Last Name : Mehtani

In [ ]:
print('First Name :' + fname + ' Last Name : ' + lname + ' Age: ' + str(age)) # Type casting

First Name :Dhanaxi Last Name : Mehtani Age: 26

In [ ]:
print('First Name:',fname,'\nLast Name:',lname,'\nAge:',age)

First Name: Dhanaxi
Last Name: Mehtani
Age: 26

## 2[c] Manipulating String with Methods

**Methods or Functions** : Inorder to do some operation on your variable, we go for Methods. And always a method enclosd with **()**

In [ ]:
learner_1 = 'Amit'
learner_2 = '  lavanya'
learner_3 = 'Aarthy           '
learner_4 = '       Sasi     '

In [ ]:
print(learner_1)
print(learner_2)
print(learner_3)
print(learner_4)

Amit
  lavanya
Aarthy
       Sasi

In [ ]:
len(learner_1),len(learner_2),len(learner_3),len(learner_4)

(4, 9, 17, 16)

In [ ]:
learner_1.upper() #Return a copy of the string converted to uppercase.

'AMIT'

In [ ]:
learner_2.lstrip().capitalize() #Return a copy of the string with leading whitespace removed.

'Lavanya'

In [ ]:
learner_3.rstrip() #Return a copy of the string with trailing whitespace removed.

'Aarthy'

In [ ]:
learner_4.strip() #Return a copy of the string with leading and trailing whitespace removed.

'Sasi'

## ====================================================================

## DAILY TASK 1 - Come up with 2 examples for all the String Methods.

## ====================================================================

## 2[d] Interact with user input

In [ ]:
user_input = input('UserName:')

print('Username starts with ',user_input[0])

UserName:Dhanaxi
Username starts with  D

## 2[e] Get 2 inputs from the user and print it.

In [ ]:
fav_hero = input('enter fav hero')
print('your fav hero is ',fav_hero)

fav_number = input('enter fav number')
print('your fav number is :',fav_number)

enter fav heroSharuk
your fav hero is  Sharuk
enter fav number5
your fav number is : 5

## 2[f] Streamline your Print Statement

In [ ]:
fav_hero = input('enter fav hero')
fav_number = input('enter fav number')

print('Favourite Hero : {}\n Favourite Number : {}'.format(fav_hero,fav_number))

enter fav heroAjith
enter fav number654
Favourite Hero : Ajith
 Favourite Number : 654

## ====================================================================

# Chapter 3 - Numbers in Python

In [ ]:
user_marks = int(input('Enter your marks : '))

print('Scored Marks : ',abs(user_marks))

Enter your marks : -100
Scored Marks :  100

In [ ]:
type(user_marks)

int

## ====================================================================

# Chapter 4 - Functions and loops

**3types of functions in Python:**

**1. Built-in Function/Predefined** - this function will get installed when we are Anaconda Navigotor.

**2. User-defined Function** - User given function. Customizable.

**3. Anonymous Function** - It is a nameless function used to accomplish one task at once.

## 4[a] Write your own functions

In [ ]:
#Step1: Function Definition
def get_details():
    print('Hello, Welcome to the 1st function!!')   
    print('Thankyou!!')

In [ ]:
#Step2: Call a function
get_details()

Hello, Welcome to the 1st function!!
Thankyou!!

### Positional Arguments

In [ ]:
def get_numbers(num1,num2):
    print("Number 1: ",num1)
    print("Number 2: ",num2)
    print('Function Ended')
    return num1*num2 #Termination point

In [ ]:
get_numbers(23,67)

Number 1:  23
Number 2:  67
Function Ended

1541

In [ ]:
def get_numbers(num1,num2): #Arguments
    print("Number 1: ",num1)
    print("Number 2: ",num2)
    print(num1*num2)
    return num1*num2 #Termination point

In [ ]:
get_numbers(23,67) #Parameters

Number 1:  23
Number 2:  67
1541

1541

In [ ]:
def get_numbers(num1,num2):
    print("Number 1: ",num1)
    print("Number 2: ",num2)
    return num1
    return num1*num2 #Termination point

In [ ]:
get_numbers(23,67)

Number 1:  23
Number 2:  67

23

In [ ]:
def get_learner_details(learner_id,learner_name,age,company):
    print('***************************************')
    print('Learner ID   : ',learner_id)
    print('Learner Name : ',learner_name)
    print('Age          : ',age)
    print('Workplace    : ',company)
    print('***************************************')

In [ ]:
get_learner_details(1,'Lavanya',25,'Google')

***************************************
Learner ID   :  1
Learner Name :  Lavanya
Age          :  25
Workplace    :  Google
***************************************

In [ ]:
get_learner_details(2,'Amit',27,'Google')

***************************************
Learner ID   :  2
Learner Name :  Amit
Age          :  27
Workplace    :  Google
***************************************

In [ ]:
get_learner_details(3,'Bhagya',26,'Google')

***************************************
Learner ID   :  3
Learner Name :  Bhagya
Age          :  26
Workplace    :  Google
***************************************

### Default Parameter

In [ ]:
def get_learner_details_2(learner_id,learner_name,age,company = 'Google'):
    print('***************************************')
    print('Learner ID   : ',learner_id)
    print('Learner Name : ',learner_name)
    print('Age          : ',age)
    print('Workplace    : ',company)
    print('***************************************')

In [ ]:
get_learner_details_2(1,'Lavanya',25)

***************************************
Learner ID   :  1
Learner Name :  Lavanya
Age          :  25
Workplace    :  Google
***************************************

In [ ]:
get_learner_details_2(2,'Amit',27)

***************************************
Learner ID   :  2
Learner Name :  Amit
Age          :  27
Workplace    :  Google
***************************************

In [ ]:
get_learner_details(3,'Bhagya',26,'Microsoft')

***************************************
Learner ID   :  3
Learner Name :  Bhagya
Age          :  26
Workplace    :  Microsoft
***************************************

### Variable-Length Argument

In [ ]:
def get_learner_details_3(learner_id,learner_name,age,*company):
    print('***************************************')
    print('Learner ID   : ',learner_id)
    print('Learner Name : ',learner_name)
    print('Age          : ',age)
    print('Workplace    : ',company)
    print('***************************************')

In [ ]:
get_learner_details_3(1,'Lavanya',25,'Google','IBM','Microsoft')

***************************************
Learner ID   :  1
Learner Name :  Lavanya
Age          :  25
Workplace    :  ('Google', 'IBM', 'Microsoft')
***************************************

### Keyword-Argument

In [ ]:
def get_learner_details_4(learner_id,learner_name,age,**company):
    print('***************************************')
    print('Learner ID   : ',learner_id)
    print('Learner Name : ',learner_name)
    print('Age          : ',age)
    print('Workplace    : ',company)
    print('***************************************')

In [ ]:
get_learner_details_4(1,'Lavanya',25,company_1 = 'Google',company_2 = 'IBM',company_3 = 'Microsoft')

***************************************
Learner ID   :  1
Learner Name :  Lavanya
Age          :  25
Workplace    :  {'company_1': 'Google', 'company_2': 'IBM', 'company_3': 'Microsoft'}
***************************************

### Variable-length and Keyword Argument

In [ ]:
def get_learner_details_5(learner_id,age,*learner_name,**company):
    print('***************************************')
    print('Learner ID   : ',learner_id)
    print('Learner Name : ',learner_name)
    print('Age          : ',age)
    print('Workplace    : ',company)
    print('***************************************')

In [ ]:
get_learner_details_5(1,25,'Lavanya','Divya','Shashank',company_1 = 'Google',company_2 = 'IBM',company_3 = 'Microsoft')

***************************************
Learner ID   :  1
Learner Name :  ('Lavanya', 'Divya', 'Shashank')
Age          :  25
Workplace    :  {'company_1': 'Google', 'company_2': 'IBM', 'company_3': 'Microsoft'}
***************************************

## 4[b] Run in circles

In [ ]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

## ====================================================================